<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Python Addin</Name><AddInID>{c50c7973-fefc-4802-a3f1-dd6b8281fe99}</AddInID><Description>New Addin</Description><Version>0.1</Version><Image /><Author>Untitled</Author><Company>Untitled</Company><Date>03/23/2021</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="Atribut_Transfer_addin.py" namespace="Atribut_Transfer_addin"><ArcMap>
    <Commands>
        <Button caption="Geometry_Attribute_Transfer" category="Python Addin" class="AtributTransfer" id="Atribut_Transfer_addin.button" image="" message="" tip=""><Help heading="" /></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Atribut Transfer" category="Python Addin" id="Atribut_Transfer_addin.toolbar" showInitially="true"><Items><Button refID="Atribut_Transfer_addin.button" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>
